.chat {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.chat-template {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: calc(100% - 375px);
  height: 100%;
  @media (max-width: 648px) {
    width: 100%;
  }
}

.chat::-webkit-scrollbar {
  display: none;
}
