.user-component {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;
}

.user-component-from-user {
  @extend .user-component;
  align-self: flex-end;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
}
