.content {
    overflow: auto;
}

.content::-webkit-scrollbar {
    width: 4px;
    height: 6px;
  }
.content::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
  }
.content::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(78, 138, 109, 0.3);
  }
.content::-webkit-scrollbar-thumb:hover{
  	background: rgba(111, 225, 153, 0.6);
  }
.content::-webkit-scrollbar-thumb:active{
  	background: rgba(111, 225, 153, 1);
  }